VITE_APP_BACKEND_URL="http://{URL}/api/" #api backend url
VITE_APP_OAUTH_BACKEND_URL="http://{URL}/oauth2/authorization/{value}"  #default oath2 url that set in the google console
VITE_APP_ROUTER_BASE_URL= "/somethig" #url that the frontend server will get