MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=

#this must be the name of the container
SPRING_DATA_MONGODB_HOST=

SPRING_DATA_MONGODB_PORT=

SPRING_DATA_MONGODB_DATABASE=
SPRING_DATA_MONGODB_USERNAME=
SPRING_DATA_MONGODB_PASSWORD=
SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE=

ORS_ALLOWED_ORIGINS="hosts,host,host"

JWT_SECRET=

CORS_ALLOWED_ORIGINS_LOCALHOST=""
CORS_ALLOWED_ORIGINS_PRODUCTION=""