

/* .auth-content>button {
    background-color: #33658A;
    color: white;
} */

.sign-in-btn{
    display: flex;
    justify-content: center;
    gap: 0.2em;
    align-items: center;
    background-color: white;
    color: black;
}

.sign-in-buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.sign-in-icons{
    width: 30px;
    height: 30px;
}

.google-button{
    border: 1px solid #0d6efd;
}