.kanboard-page {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.kanboard-page > article {
  margin-left: 1em;
  margin-right: 1em;
}

.kanboard-page > article:first-child {
  margin-top: 1em;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  background-color: #F8F9FA;
}

.kanboard-page > article:first-child > p {
  font-size: small;
}

.kanboard-page > article:first-child > p,
.kanboard-page > article:first-child > h5 {
  margin: 0.4em;
}

.kanboard-page > article:nth-child(2){
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5em;
}

.search-section > input{
  height: 30px;
}

.kanboard-projects{
  border: 1px solid #dee2e6;
  border-radius: 5px;
}