.read-task-div {
  margin: 1em;
}

.task-title {
  color: #172b4d;
}

.read-task-title-div {
  margin: 1em 0em 0em 1em;
}

.update-task-title-div {
  margin: 1em 0em 0em 0em;
}

.read-task-div {
  display: grid;
  grid-template-columns: auto 30%;
  gap: 1em;
}

.tasks-deatils-div {
  margin-top: 1em;
}

.details-table {
  margin: 1em;
}

.details-div {
  display: flex;
  justify-content: space-between;
}

.tasks-deatils-div-details-header > h6 {
  margin: 1em;
  margin-bottom: 0;
}

.update-task-title {
  border: none;
  background: inherit;
  width: 85%;
}

.update-task-grid-2 {
  margin-top: 2em;
}

.fa-floppy {
  color: black !important;
}

.read-task-actions {
  display: flex;
  align-items: center;
  margin-top: 2em;
  gap: 1em;
}

.mdx-editor-pre-tag {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
  /* Dark text color */
  background-color: #f5f5f5;
  /* Light background color */
  padding: 15px;
  /* Padding around the text */
  margin: 10px;
  /* Margin around the element */
  border: 1px solid #ccc;
  /* Border around the element */
  border-radius: 5px;
  /* Rounded corners */
  line-height: 1.5;
  /* Line height for better readability */
  overflow: auto;
  /* Scroll if content overflows */
  white-space: pre-wrap;
  /* Handle long lines by wrapping */
  word-wrap: break-word;
  /* Break words to prevent overflow */
}

.dialogic-badge {
  display: flex;
  gap: 0.5em;
  background-color: #f1f2f4 !important;
  color: #4e5d77;
  font-weight: 500;

  background: none;
  border: none;
}

.dialogic-badge:hover {
  background-color: #e9f2ff !important;
  color: #0c68e4;
}

.activity-header {
  display: flex;
  gap: 1em;
  margin: 0.25em 0em 0.5em 0.5em;
  /* align-content: center; */
}

.show-header {
  font-size: 14px;
  color: #4d4d4d;
}

.mdx-editor-editor,
.mdx-editor-pre-tag {
  max-height: 500px !important;
  overflow: auto;
}

html.dark .task-title {
  color: #b6c2cf;
}

html.dark ._contentEditable_yms4a_379 {
  /* color: white; */
}

html.dark .mdx_editor_create > div:nth-child(2) > ._contentEditable_yms4a_379 {
  color: white !important;
}

.mdx_editor_create {
  min-height: 250px;
}

.read-task-description-parent {
  max-width: 1100px;
}

@media only screen and (max-width: 768px) {
  .read-task-div {
    display: flex;
    flex-direction: column;
  }

  .update-task-title {
    width: auto;
  }

  .read-task-description-parent {
    width: auto;
  }
}
